/* hides the native tabs - turn on "Title Bar" in "Customize Toolbar" */
#main-window:not([privatebrowsingmode])
#TabsToolbar {
  visibility: collapse;
}

/* centers the elements on the bookmarks bar */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}
