/* hides the native tabs but leaves window buttons */
#tabbrowser-tabs {
  visibility: collapse;
}

/* remove Tree Style Tabs header */
#sidebar-header {
  visibility: collapse;
}

/*
 * PRIVATE BROWSING
*/

#main-window[privatebrowsingmode="temporary"]
#tabbrowser-tabs {
  visibility: visible;
}

/* make the navbar purple like the incognito icon */
#main-window[privatebrowsingmode="temporary"]
#nav-bar {
	  background-color: #8000D7 !important;
}

/* make toolbar buttons white in light & dark mode */
#main-window[privatebrowsingmode="temporary"]
.toolbarbutton-1 {
    fill: #FBFBFE !important;
}
